
html, body {
  margin: 0;
  padding: 0;
  /* Ne pas forcer height:100% ou height:100vh sur <body>, sinon vous perdez le scroll */
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('../img/BackgroundFinal.png') no-repeat center top fixed;
  /* 4. Fixe par rapport à la fenêtre, pas au contenu */
  background-size: cover;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centre horizontalement tous les enfants */
  padding: 16px;
  margin-top: 5%;
}

.home-embed {
  /* si vous voulez limiter la largeur du player */
  width: 1000px;
  border: 5px purple solid;
  border-radius: 20px;
  overflow: hidden;
}

text {
  margin-top: 400px;
}